<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <h1>Main Page</h1>
    
    <%for (element of post){%>
        <h1><%=element.id%></h1>
        <h2><%=element.username%></h2>
        <h2><%=element.content%></h2>    
        <H4><a href="http://localhost:3/open/<%=element.id%>">Open</a></H4>

        <h3><a href="http://localhost:3/updates/<%=element.id%>">Update</a></h3>

        <h3><a href="http://localhost:3/delect/<%=element.id%>">Delect</a></h3>
       <% } %> 


       <h2><a href="http://localhost:3/new">New Post</a></h2>
</body>
</html>